.first{
  background-color: linen;
  width: 300px;
  height: 100px;
  color: darkgoldenrod
}

.first:hover{
  background-color: burlywood
}

.red{
  background-color: red;
  width: 300px;
  height: 100px;
}

.border{
  border-color: greenyellow;
  border-style: outset;
}